@import "../../utilities/_variables";

@mixin game-page-button {
    margin-top: 2.5%;
    font-family: $main-font;
    font-size: calc(10px + min(1.0vw, 40px));
    background-color: white;
    border: none;
    outline: none;
    color: black;
    transition-duration: 0.2s;
    border-radius: 6px;
    box-shadow: $default-shadow;
}

.game-video-purchase-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    Iframe {
        width: 85%;
        aspect-ratio: 1.7778;
        background-color: black;
        border-radius: 10px;
        box-shadow: $default-shadow;
        outline: none;
        border: none;
    }

    .game-purchase-container {
        position: relative;
        flex-basis: 25%;
        background-color: $main-bg-color;
        font-family: $main-font;
        color: white;
        font-weight: 100;
        padding-left: 1%;
        padding-right: 1%;
        margin-left: 1%;
        border-radius: 10px;
        font-size: calc(9px + 0.4vw);
        box-shadow: $default-shadow;
        display: flex;
        flex-direction: column;

        .game-purchase-image {
            margin-top: 3.75%;
            width: 100%;
            border-radius: 10px;
        }

        .game-purchase-buttons {
            flex-grow: 1;
            width: 99%;
            display: flex;
            flex-direction: column;
            margin: auto;
            margin-bottom: 3%;

            button {
                @include game-page-button;
            }

            button:hover {
                cursor: pointer;
                background-color: $medium-color;
                color: white;
                transition-duration: 0.2s;
            }

            .game-purchase-buy-button {
                flex-basis: 45%;
            }

            .game-purchase-sub-buttons {
                flex-basis: 22.5%;
                font-size: calc(8px + min(0.6vw, 20px));
                background-color: $secondary-color;
                color: $grey-text-color;
            }
        }
    }
}

.game-purchase-icon-container {
    position: relative;
    margin-top: 2%;
    flex-basis: 6%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow: hidden;
    filter: invert(0.2);
}

.thumb-icon-container {
    position: relative;
    width: 11%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .thumbs-up-icon {
        position: absolute;
        height: 85%;
    }
}

.rating-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;

    span {
        padding-top: 1.5%;
        padding-left: 3.5%;
        font-size: calc(5px + min(0.65vw, 14px));
    }
}

.os-icon-container {
    position: relative;
    width: 11%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .os-icon {
        position: absolute;
        height: 85%;
        right: 4px;
    }
}

.game-purchase-info-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 5.5%;
    margin-bottom: 5.5%;
    filter: invert(0.2);

    .info-container {
        width: 100%;
        display: flex;
        flex-direction: row;

        h4 {
            font-size: calc(9px + 0.4vw);
            font-weight: 100;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }

        .info-descriptor {
            flex-basis: 50%;
        }

        .info-information {
            flex-basis: 50%;
            text-align: right;
            padding-right: 4px;
        }
    }
}

.game-description-container {
    width: 75%;
    background-color: $main-bg-color;
    border-radius: 10px;
    box-shadow: $default-shadow;
    margin-top: 2.5%;
    padding: 1px;

    p {
        margin: 2.5%;
    }
}

.system-requirements-container {
    width: 75%;
    background-color: $main-bg-color;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: $default-shadow;
    margin-top: 1.25%;

    .requirements-item {
        flex-basis: 50%;
        margin-left: 2.5%;
        display: flex;
        flex-direction: column;

        .requirement-listing {
            padding-bottom: 5.5%;

            .requirement-category {
                margin: 0;
                color: $grey-text-color;
            }

            .requirement-fulfiller {
                margin: 0;
            }
        }
    }
}