@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$main-bg-color: #1A2F4B;
$secondary-color: #28475C;
$medium-color: #2F8886;
$highlight-color: #84C69B;
$grey-text-color: #a6a6a6;

//$main-font: 'Alkatra', cursive;
$main-font: 'Roboto Condensed', sans-serif;

$default-shadow: #00000044 0 0 10px 1px;